html{
  font-family: 'Open Sans';

}

.flex{
  display: flex;
}

img {
  max-width: 100%;
  width: 100%;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.space-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
